


 h1.title1 {margin-top:-70px;
	  position: absolute;
	   text-align: center;
	  color:#4CAF50;
	  width: 100%;
  font-size: 95px;
  font-weight: bold;
  
  float: left;
  }
html, body {
  padding: 0px;
  margin: 0px;
 
  border: 0px;
 }
body {
  width: 100%;

  background-size: 100% 100%;
	background-image: url('child1.jpg');
	background-attachment:fixed;
	background-color:#0A160E; 

  font-family: "Clear Sans", "Helvetica Neue", Arial, sans-serif;
  font-size: 18px; 
  }
  
  
  h1.title {margin-top:0px;
	  position: absolute;
	   text-align: center;
	  color:red;
	  width: 100%;
  font-size: 80px;
  font-weight: bold;
 
  float: left;
  }
  
.container {

   width: 840px;
  margin: auto; 
  }
.grid-container {
  position: absolute;
  }

.grid-row {
  margin-bottom: 2px; }
  
  .grid-row:after {
    content: "";
    display: block;
    clear: both; }

.grid-cell {
   line-height: 130px;
position: absolute;
  width: 136.25px;
  height: 136.25px;

  float: left;
  padding: 5px 5px;
    font-size:70px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #2196F3;
  border: none;
  border-radius: 6px;
  box-shadow: 0 10px transparent;
  margin: 1px;
 margin-left: 2px;
  opacity: 1;
  
   -webkit-transition-duration: 0.1s; /*  */
    transition-duration: 0.1s;


  }

#p0{  }
#p1{ margin-left: 142px; }
#p2{ margin-left: 280px; }
#p3{ margin-left: 420px; }
#p4{ margin-left: 560px; }
#p5{ margin-left: 700px; }

#p6{  margin-top: 142px;}
#p7{ margin-top: 142px; margin-left: 142px; }
#p8{  margin-top: 142px;margin-left: 280px;}
#p9{  margin-top: 142px;margin-left: 420px; }
#p10{ margin-top: 142px;margin-left: 560px;}
#p11{  margin-top: 142px;margin-left: 700px;}

#p12{ margin-top: 285px; }
#p13{ margin-top: 285px; margin-left: 142px; }
#p14{  margin-top: 285px; margin-left: 280px;}
#p15{  margin-top: 285px; margin-left: 420px;}
#p16{  margin-top: 285px; margin-left: 560px;}
#p17{  margin-top: 285px;margin-left: 700px;}

#p18{   margin-top: 428px;}
#p19{  margin-top: 428px;margin-left: 142px;}
#p20{ margin-top: 428px;margin-left: 280px;}
#p21{ margin-top: 428px; margin-left: 420px;}
#p22{ margin-top: 428px;margin-left: 560px;}
#p23{ margin-top: 428px; margin-left: 700px;}

#p24{  margin-top: 570px; }
#p25{  margin-top: 570px;margin-left: 142px;}
#p26{ margin-top: 570px;margin-left: 280px; }
#p27{ margin-top: 570px;margin-left: 420px; }
#p28{margin-top: 570px;margin-left: 560px;}
#p29{ margin-top: 570px;margin-left: 700px;}
        #p0{  -webkit-animation: p0 5s 1; /* Safari 4.0 - 8.0 */ animation: p0 5s 1;}
#p1{  -webkit-animation: p1 5s 1; /* Safari 4.0 - 8.0 */ animation: p1 5s 1;}
#p2{  -webkit-animation: p2 5s 1; /* Safari 4.0 - 8.0 */ animation: p2 5s 1;}
#p3{  -webkit-animation: p3 5s 1; /* Safari 4.0 - 8.0 */ animation: p3 5s 1;}
#p4{  -webkit-animation: p4 5s 1; /* Safari 4.0 - 8.0 */ animation: p4 5s 1;}
#p5{  -webkit-animation: p5 7s 1; /* Safari 4.0 - 8.0 */ animation: p5 7s 1;}

#p6{  -webkit-animation: p6 5s 1; /* Safari 4.0 - 8.0 */ animation: p6 5s 1;}
#p7{  -webkit-animation: p7 5s 1; /* Safari 4.0 - 8.0 */ animation: p7 5s 1;}
#p8{  -webkit-animation: p8 5s 1; /* Safari 4.0 - 8.0 */ animation: p8 5s 1;}
#p9{  -webkit-animation: p9 5s 1; /* Safari 4.0 - 8.0 */ animation: p9 5s 1;}
#p10{  -webkit-animation: p10 5s 1; /* Safari 4.0 - 8.0 */ animation: p10 5s 1;}

#p11{  -webkit-animation: p11 5s 1; /* Safari 4.0 - 8.0 */ animation: p11 5s 1;}
#p12{  -webkit-animation: p12 5s 1; /* Safari 4.0 - 8.0 */ animation: p12 5s 1;}
#p13{  -webkit-animation: p13 5s 1; /* Safari 4.0 - 8.0 */ animation: p13 5s 1;}
#p14{  -webkit-animation: p14 5s 1; /* Safari 4.0 - 8.0 */ animation: p14 5s 1;}
#p15{  -webkit-animation: p15 5s 1; /* Safari 4.0 - 8.0 */ animation: p15 5s 1;}

#p16{  -webkit-animation: p16 5s 1; /* Safari 4.0 - 8.0 */ animation: p16 5s 1;}
#p17{  -webkit-animation: p17 5s 1; /* Safari 4.0 - 8.0 */ animation: p17 5s 1;}
#p18{  -webkit-animation: p18 5s 1; /* Safari 4.0 - 8.0 */ animation: p18 5s 1;}
#p19{  -webkit-animation: p19 5s 1; /* Safari 4.0 - 8.0 */ animation: p19 5s 1;}
#p20{  -webkit-animation: p20 5s 1; /* Safari 4.0 - 8.0 */ animation: p20 5s 1;}

#p21{  -webkit-animation: p21 5s 1; /* Safari 4.0 - 8.0 */ animation: p21 5s 1;}
#p22{  -webkit-animation: p22 5s 1; /* Safari 4.0 - 8.0 */ animation: p22 5s 1;}
#p23{  -webkit-animation: p23 5s 1; /* Safari 4.0 - 8.0 */ animation: p23 5s 1;}
#p24{  -webkit-animation: p24 5s 1; /* Safari 4.0 - 8.0 */ animation: p24 5s 1;}
#p25{  -webkit-animation: p25 5s 1; /* Safari 4.0 - 8.0 */ animation: p25 5s 1;}

#p26{  -webkit-animation: p26 5s 1; /* Safari 4.0 - 8.0 */ animation: p26 5s 1;}
#p27{  -webkit-animation: p27 5s 1; /* Safari 4.0 - 8.0 */ animation: p27 5s 1;}
#p28{  -webkit-animation: p28 5s 1; /* Safari 4.0 - 8.0 */ animation: p28 5s 1;}
#p29{  -webkit-animation: p29 5s 1; /* Safari 4.0 - 8.0 */ animation: p29 5s 1;}
        
        
  @-webkit-keyframes p0 {
    from {margin-left: -20px;margin-top: -20px;}
    to {margin-left: 5px;
    margin-top: 10px;}
    
}
/* p0  */
@keyframes p0 {
       from {margin-left: -1200px;margin-top: -400px;transform: scale(0); background-color: green;}
   
}

    
@keyframes p1 {
       from {margin-left: -900px;margin-top: -500px;transform: scale(0); background-color: green;}

}
@keyframes p2 {
       from {margin-left: -600px;margin-top: -500px;transform: scale(0);background-color: green;}
   
}
@keyframes p3 {
       from { margin-left: -10px;margin-top: -500px;transform: scale(0);background-color: green;}

}
@keyframes p4 {
       from {margin-left: +1800px;margin-top: -500px;transform: scale(0); background-color: green;}
    
}
@keyframes p5 {
       from {margin-left: +1800px;margin-top: -500px;transform: scale(0);background-color: green;}

}
@keyframes p6 {
       from {margin-left: -1200px;margin-top: -200px;transform: scale(0);background-color: green;}

}
@keyframes p7 {
       from {margin-left: -1000px;margin-top: -200px;transform: scale(0);background-color: green;}

}
@keyframes p8 {
       from {margin-top: -300px; transform: scale(0);background-color: green;}

}
@keyframes p9 {
       from {margin-left: -900px;margin-top: -300px;transform: scale(0);background-color: green;}

}
@keyframes p10 {
       from {margin-left: -1800px;margin-top: -300px;transform: scale(0);background-color: green;}
 
}

@keyframes p11 {
       from {margin-left: +1500px;margin-top: -100px;transform: scale(0);background-color: green;}
   
}
@keyframes p12 {
       from {margin-left: 1500px;margin-top: +200px;transform: scale(0);background-color: green;}

}
@keyframes p13 {
       from {margin-left: 1600px;margin-top: 00px; transform: scale(0);background-color: green;}
   
}
@keyframes p14 {
       from {margin-left: 1100px;margin-top: 00px;transform: scale(0);background-color: green;}
   
}
@keyframes p15 {
       from {margin-left: 1500px;margin-top: 100px;transform: scale(0);background-color: green;}
  
}
@keyframes p16 {
       from {margin-left: 1200px;margin-top: 100px;transform: scale(0);background-color: green;}
    
}
@keyframes p17 {
       from {margin-left: 1500px;margin-top: +200px;transform: scale(0); background-color: green;}
   
}
@keyframes p18 {
       from {margin-left: -900px;margin-top: 300px;transform: scale(0); background-color: green;}
   
}
@keyframes p19 {
       from {margin-left: -11000px;margin-top: +400px;transform: scale(0); background-color: green;}
   
}
@keyframes p20 {
       from {margin-left: -400px;margin-top: +500px;transform: scale(0); background-color: green;}
    
}
@keyframes p21 {
       from {margin-left: -200px;margin-top: +300px;transform: scale(0); background-color: green;}
    
}
@keyframes p22 {
       from {margin-left:- 600px;margin-top: 100px; transform: scale(0); background-color: green;}
   
}
@keyframes p23 {
       from {margin-left: +900px;margin-top: +500px;transform: scale(0); background-color: green;}
    
}
@keyframes p24 {
       from {margin-left: -700px;margin-top: +200px;transform: scale(0); background-color: green;}
   
}
@keyframes p25 {
       from {margin-left: -800px;margin-top: +1000px;transform: scale(0); background-color: green;}
   
}
@keyframes p26 {
       from {margin-left: +900px;margin-top: +500px;transform: scale(0);background-color: green;}
   
}
@keyframes p27 {
       from {margin-left: -1000px;margin-top: +800px;transform: scale(0); background-color: green;}
   
}
@keyframes p28 {
       from {margin-left: +1200px;margin-top: +800px;transform: scale(0);  background-color: green;}
   
}
@keyframes p29 {
       from {margin-left: -1500px;margin-top: +200px;transform: scale(0); background-color: green;}
    
}

/*=========================================================*/


#myAnimation {
  width: 50px;
  height: 50px;
  font-size: 28px;
  position: absolute;
  background-color: red;

}

button:hover {
  
  background-color: #21ccFF;
  color:black;

         -webkit-transition-duration: 0.1s; /*  */
    transition-duration: 0.1s;
    margin-top: 10px;
}


button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
	

	
	.game-container {
  margin-top: 1%;
  position: relative;
  padding: 5px;
 
  background: #bbada0; 

  background-size: 100% 100%;
  border-radius: 6px;
  width: 850px;
  height: 720px;
  box-sizing: border-box; 
animation: game_contaier 5s 1;
    
        box-shadow: 0 0 10px 10px #bbada0;;
}
  

.restart {
    position: relative;
    background-image:url(../../back.png);
     padding: 70px 120px;
    line-height: 25px;
    background-size: 100% 100%;
    background-position: center;
    margin-left: 25px;

  } 
  .restart:hover{
  background-size:98% 99%;
  background-position: center;	}
#home
{
	position: relative;
background-size: 100% 100%;
  background-image:url("home.png");

  padding: 4% 4%;
  float: right;

margin-top: -130px;
margin-right: 10px;
animation-name: home;
    animation-duration: 1s;
    animation-iteration-count: infinite;
  } 
 @keyframes home {
    0%   {top:0px;}
   50%{top:15px}
    100% {top:0px;}
  }


  @-webkit-keyframes x {
    0%   {color:red; font-size:80px; top:130px;}
    25%  {color:black; font-size:115px; top:70px;}
    50%  {color:red;  font-size:80px; }
    75%  {color:red; font-size:80px; }
  100% {color:yellow;font-size:80px; top:130px; }}


#x {
    animation-name:  x; 
    animation-duration: 4s;
    animation-iteration-count: infinite;
font-family: Algerian;
}


    .game-message {
     
display: none;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-color: rgba(77, 77, 77, 0.5);
      z-index: 100;

      text-align: center;
    }
 .game-message  p {
        font-size: 60px;
        font-weight: bold;
        height: 10px;
        line-height: 60px;
  
  
      }

      .lower {
        display: block;
      margin-top: -200px !important;
        height: 500px;
        color: rgba(10, 10,10, 1);


      }

    .lower  a {
      
        margin-left: 9px;
        margin-top: 0px;
      
        font-weight: bold;
        height: 60px;
        line-height: 60px;
      

      }




	a.keep-playing-button {
	  display: inline-block;
      font-size: 60px;
	}
      

  
    .game-message    p {
      font-size: 30px !important;
      height: 80px !important;
      line-height: 30px !important;
      margin-top: 90px !important;
    }
  



.restart-button {

  text-align: center;
  font-size: 40px;
   height: 60px;
    padding: 5px;
 
    border-radius: 6px;
    cursor: pointer;
     color: rgba(55, 55, 55, 1);
     text-decoration: none;
  }
.restart-button:hover{
background-color: #007700;
letter-spacing: 1.5px;
  box-shadow: 0 20px 24px 0 rgba(0,0,0,0.24),0 20px 53px 0 rgba(0,0,0,0.19);
  }

.img_close
{
  width: 50px;
  height: 50px;
  float: right;
margin-top: 10px;
margin-right: 10px;
}
.img_close:hover{
  width: 70px;
  height: 70px;
  float: right;
margin-top: 10px;
margin-right: 10px;

}

#youwin
{
  transform: rotate(-15deg);
  float: left;
  margin-left: 100px;
}

#div_cent
{
  width: 100%;
  height: 100%;
  
  margin: 0px;
}
.div_cent
{
  width: 100%;
  height: 100%;
  
  margin: 0px;
}
#h_score
{
  float: right;
  margin-right: -20px;
  margin-top: -45px;
  color: #0A160E;
  font-size: 50px;
}  
#fn_score
{
  width: 200px;
  height: 140px;
float: right;
margin-right: 1270px;
margin-top: 70px;
  border-style: solid;
  border-width: 4px;
  border-color: red;
  border-radius: 100%;
  padding: unset;
  padding-top: 60px;
  text-align: center;
  font-size: 95px;
color: red;
 font-family: Edwardian Script ITC;



}





.des_pal
{     display:block ;
   position: absolute;
    width: 200px;
    height: 200px;
 margin-left: 2px;
    float: left;
  background-size: 100% 100%;
background-color: transparent;
margin-top: -110px;

}
#nul{
    position: relative;
 background-color: black;

}

#div_right
{
position: relative;
float: right;
width: 32%;
background-size: 100% 100%;

}
#div_left
{
position: absolute;
float: left;
width: 32%;
background-size: 100% 100%;

}
#div_plo{
width: 100%;

margin-top: -10px;
float: left;


}
#b1{
  margin-left:10px; 
}
#b2{
  margin-left:200px; 
}
#b3{
  margin-left:402px; 
}
#b0{
  margin-left:602px; 
}


.nh{
  position: absolute;
  margin-top: -170px;
  width: 200px; height: 200px; 

 
}
.score_po
{
  position: absolute;
  width: 20%;
  height: 200px;

  margin-left: 1900px;
  margin-top: 130px;
}
.img_sc
{ position: absolute;
 height: 200px;
 width: 200px;
 margin-left: 20px; 
}
#img_scbl
{ margin-left: 200px; 
   height: 250px;
}
#hscore
{
  position: absolute;
  margin-left:60px;
  margin-top: 130px;
  font-family:  Blackadder ITC;
  font-size: 120px;
  color: gold;
  transform: rotate(10deg);
}
#best
{
    position: absolute;
  margin-left: 250px;
  margin-top: 200px;
     font-family: Blackadder ITC;
     font-size: 100px;
     color: cornflowerblue;
     transform: rotate(10deg);
}
#himgscore
{
  position: absolute;
      width: 30%;
  margin-left:50px;
  margin-top: 30px;
  font-family: Brush Script MT;
  font-size: 100px;
color: cornflowerblue;
text-align: center;
}
#imgbest
{
    position: absolute;

  margin-left: 230px;
  margin-top: 30px;
     font-family: Brush Script MT;
     font-size: 100px;
  color: gold;
  text-align: center;
}

#hscore18
{
  position: absolute;
  opacity: 0;
      width: 30%;
  margin-left:50px;
  margin-top: 30px;
  font-family: Brush Script MT;
  font-size: 90px;
color: aqua;
text-align: center;
}



.prev{
    text-decoration: none;
    display: inline-block;
    padding: 8px 16px;


    font-size: 40px;
    text-align: center;
    
}

#next:hover{
    background-color: #ddd;
    color: black;
}
#previous:hover {
    background-color: #ddd;
    color: black;

}

#previous {
    background-color: #f1f1f1;
    color: black;
   
}

#next {
    background-color: #4CAF50;
    color: white;
    margin-left: 400px;
}


.sui
{
  position: absolute;
  width: 800px;
  height: 60px;
  margin-top: 30px;
  margin-left: 900px;
  }


  #mySidenav a {
    position: absolute;
    transition: 0.3s;
    padding: 15px;
    left: -100px;
    width: 150px;
    text-decoration: none;
    font-size: 40px;
    color: white;
    border-radius: 0 5px 5px 0;
}

#mySidenav a:hover {
    left: 00px;
}

#about {
    top: 20px;
    background-color: #4CAF50;
}

#blog {
    top: 80px;
    background-color: #2196F3;
}

#projects {
    top: 140px;
    background-color: #f44336;
}

#contact {
    top: 200px;
    background-color: #555
}
#mySidenav{
  position: absolute;
  
   margin-top: -500px;
  background-color: #4CAF50;
}


	/********************* profile*************************/
	.divdiv_profile
  {
    width: 500px;
    height: 150px;

    position: absolute;
    margin-left: 680px;
    margin-top: -130px;
  }
  
  
  .profile
  {
    width: 400px;
    height: 200px;

    position: fixed;
  }
  .div_avatar
  {
    width: 120px;
    height: 120px;
  float: left;
  border-radius: 100%;
  background-color: #000000;
  margin-top: 15px;
  margin-left: 15px;
  position: relative;
 
  }
  .avatar
  {
    width: 100%;
    height: 100%;
    border-radius: 100%;
  }
  .name_email
  {
     width: 300px;
     height: 100px;
     float: left;
     background-color:rgba(19, 35, 47, 0.8);
     margin-top: -110px;
     border-radius: 12px;
     margin-left: 120px;

   
  }
    .name
  {
    color: chartreuse;
    font-size: 35px;
    margin-top: -2px;
    font-family: Eras Light ITC;
     text-shadow: 3px 3px  #aaa;
  }
  .email
  {
       color: forestgreen;
    font-size: 25px;
    margin-top: -10px;


  }
  /*************** logout***************/
  .div_logout
  {
    width: 100px;
    height: 110px;

margin-top: 780px;
margin-left: 1630px;
  float: left;

  }
.logout
{
   width: 180px;
   height: 180px;

}
.logout:hover
{
     width: 160px;
   height: 160px;
}
/*************** button score************/
.nouvelleP
{
 float: left;
 background: linear-gradient(to right, #4CAF50 , green); 
 width: 35%;
 
}
.BTsave
{
 float: right;
 background: linear-gradient(to right, #4CAF50 , green); 

border: none;
 width: 20%;
   text-align: center;
  
   height: 60px;
    padding-left: 5px;
    padding-bottom: 10px;
 font-size: 40px;
    border-radius: 6px;
    cursor: pointer;
     color: rgba(55, 55, 55, 1);
             font-weight: bold;
        
        line-height: 60px;
  
}

.deux_BT
{
  width: 1000px;
  height: 200px;

  margin-left: 350px;
}
.retry-button
{
  font-size: 60px;
}
.aff_score
{
  width: 400px;
  height: 400px;

  position: absolute;
  float: left;
margin-left: 1000px;
margin-top: 100px;
}
.mot_score
{
  font-size: 80px;
  color: darkorange;
  width: 240px;
  float: left;
}
.my_score
{
  font-size:82px;

  color:#f44336 ;
  width: 150px;
  float: right;
  
}
.best
{
    width:100%;
position: absolute;

}
.scort
{
      width:100%;
margin-top: -100px;
position: absolute;

}

/********** meilleur scor*********/
.meill_score
{
  width: 400px;
  height: 200px;
  position: absolute;

  margin-left: 1200px;

}
.meill
{
  float: right;
  background-color: #aaa;

}
.meill_email
{
 margin-left:0px;
  background: linear-gradient(to right, #aaa , #444); 


}
.mei_score
{
  font-size: 40px;
  color: #f44336;
  margin-top: -20px;
}
.NME
{
  color: darksalmon;
     text-shadow: 0px 0px  #aaa;
    
}

/**************************/
.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 220px;
    height: 45px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 4;
    bottom: 125%;
    left: 50%;
    font-size: 40px;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 1s;
           box-shadow: 0 12px 16px 0 rgba(0,0,0,0.2),0 17px 50px 0 rgba(0,0,0,0.5);

}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 30px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
      animation: note 500ms ease-in-out forwards;
}

@keyframes note {
0%{opacity: 0;transform: scale(0.1) rotate(3deg) translateY(50deg) rotateX(180deg);}
50%{transform: rotate(-10deg) rotateX(-20deg) ;opacity: 1; }
70%{transform: rotate(10deg) rotateY(90deg);}
100%{transform: scale(1) ;}


}

.close
{
 
  color: #fff;
  margin-top: 40px;
  font-size: 55px;
  position: absolute;
  margin-left: 10px;
  cursor: pointer;
  width:40px;
  height: 80px;

}
.close:hover
{
  color: #000000;
}

.wissam
{

  width: 200px;
height: 200px;

margin-left: -10px;
margin-top: 120px;

position: absolute;

}
.wissm_img
{
width: 150px;
height: 150px;


}